.footer{
    background-color: #222;
    color: white;
    padding: 3em;
    text-align: center;
}
.sociallist{
    display: flex;
    list-style: none;
    justify-content: center;
}
.sociallist li{
    margin: 0 1em;
    transition: .3s;
}
.sociallist li:hover{
    color: #ffbb33
}